.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.drop-down-container {
  width: 100%;
  margin-bottom: 5px;
}

.drop-down-control {
  background-color: #191A26 !important;
  border: 1px solid #191A26 !important;
  border-radius: 5px !important;
  color: #E5E1DD !important;
}

.drop-down-menu {
  background-color: #292C42 !important;
  color:#E5E1DD;
  border: 1px solid #191A26 !important;
  border-radius: 5px !important;
}

.drop-down-menu div:hover{
  color:#E5E1DD;
  background-color: #D94A22;
}

.drop-down-menu div{
  color:#E5E1DD;
}

.is-selected {
  background-color: #191A26 !important;
  color:#E5E1DD !important;
}
